@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

html {
  font-family: 'Hammersmith One', sans-serif;
  position: relative;
  min-height: 100%;
}


#navbar-primary .navbar-nav {
 background: rgba(237,237,237,0.40);
  width: 100%;
  text-align: center;
  margin:0;
  padding:0;
  height:100px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  > li {
    margin-left: 50px;
    display: inline-block;
    float: none;
    font-variant: small-caps;
    > a {
      padding-left: 30px;
      padding-right: 30px;
      font-size: 18px;
      // color: #ffffff;
      text-decoration: none;
      font-family: 'Hammersmith One', sans-serif;
    }
  }
}

nav.smaller {
    height: 60px;
}

nav.smaller #logo-navbar-middle {
  height:30px;
  width:auto;
}

nav.smaller .logo-text {
  font-size: 20px;
}

nav.smaller a {
  color:#333333;
}

a {
  color: #ffffff;
}
.main-section {
  background-image: url("/images/conference-background.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
  color: #B435B4;
}

.nav>li:focus, .nav>li:hover{
color: #B435B4;
}

#logo-navbar-middle {
  height:50px;
  width:auto;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.logo-text{
font-family: 'Hammersmith One', sans-serif;
font-size: 28px;
color: #B435B4;
padding-top: 15px;
}

.main-body{
  text-align: center;
  padding-top: 100px;
  color: #ffffff;
  font-family: 'Hammersmith One', sans-serif;
}

.main-body h1 {
  font-size:90px;
  color: #B435B4;
}
.main-body p {
  font-size: 38px;
}


/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
  from { -webkit-transform: rotateY(0deg);    }
  to   { -webkit-transform: rotateY(-360deg); }
}

/* all other browsers */
@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

#stage {
  margin: 0 auto;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
}

#spinner {
   -webkit-animation-name: spinner;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-duration: 10s;

   animation-name: spinner;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-duration: 10s;

   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   transform-style: preserve-3d;

   margin-top: 10%;
   width:400px;
 }

 #spinner:hover {
   -webkit-animation-play-state: paused;
   animation-play-state: paused;
 }

 .fa-angle-down {
   color: #ffffff;
   margin-left: 50%;
   padding-top: 10px;
   transition: all .2s ease-in-out;
 }

 .fa-angle-down:hover{
   color: #B435B4;
   transform: scale(1.4);
 }

 .section2 {
   height: 100vh;
 }

 .section2 h2{
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
  padding-top: 30px;
  font-family: 'Hammersmith One', sans-serif;
 }

 .section2-header p {
   font-size: 20px;
   text-align: center;
   padding-top: 20px;
   font-family: 'Raleway', sans-serif;
   font-style: italic;
 }

 .experience-box {
   height: 450px;
   border: 2px solid #000000;
   margin:60px 20px 0;
   font-family: 'Hammersmith One', sans-serif;
   position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
 }

.experience-box h3 {
   text-align: center;
   padding-top: 15px;
 }

.experience-box a {
  color: blue;
  font-size: 10px;
}

.experience-box a:hover {
  color: #B435B4;
  text-decoration: none;
}

#container {
  height:90%;
  margin: 0 auto;
  padding-bottom: 10px;
}

#container p {
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  font-family: 'Raleway', sans-serif;
}

#front-box {
   background-color: rgba(180,53,180,0.95);
   z-index: 4;
}

 .lang-logos {
   height:60px;
   padding: 0 10px;
   margin: 0 0 20px 30px;
 }

 #bootstrap_logo {
   height:50px;
 }

#box-base tr {
  transition: all .2s ease-in-out;
}

#box-base tr:hover {
   transform: scale(1.05);
}
 .speaker {
   height:70px;
   margin:10px;
 }

 #container1 span {
   font-weight: bold;
   text-transform: uppercase;
 }

 #section3-fa {
   color: #000000;
   margin-top: 500px;
   margin-left: 700px;
 }

 .section3 {
   height: 100vh;
   text-align: center;
   margin-top: 50px;
   padding:30px 50px;
   > h3 {
     font-size: 40px;
     text-transform: uppercase;
     padding: 10px 0;
     font-family: 'Hammersmith One', sans-serif;
   }
 }

  .section3 p {
      font-size: 18px;
      line-height: 25px;
      padding-bottom: 15px;
      font-family: 'Raleway', sans-serif;
  }

  .section3 .book-now {
    font-size: 20px;
    font-weight: bold;
  }

  .section3 .book-link {
      color: #B435B4;
  }

  .section3 .book-link:hover{
    color:#333333;
    text-decoration: none;
    background-color: transparent;
  }

  .section3 p span {
    font-family: 'Permanent Marker', cursive;
  }

  .section3 .signed {
    font-size: 20px;
    margin-right: 50px;
  }

  .section3 .party-image {
    width:100%;
    height: auto;
  }

  #section4-fa{
    color:#000000;
    margin-left: -20px;
    margin-top: -130px;
  }

  .section4 {
    height: 100vh;
    padding:70px 50px;
    margin-top: 150px;
  }

  .section4 .register-blurb, .section4 .register-here {
    height: auto;
  }

  .section4 .register-blurb {
    background-color: #44B3E7;
    padding: 30px;
      > p {
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
      }
  }

  .section4 .register-blurb h3{
    font-size: 50px;
    font-family: 'Hammersmith One', sans-serif;
  }

  .section4 .friends-fingers {
    width: 60%;
    height: auto;
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
    margin-left: 80px;
  }

#sponsor-fa {
  color: #000000;
  margin-left: 650px;
}

  footer {
    background-color: #44B3E7;
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
    // height: 100vh;
    position: absolute;
    width: 100%;
  }

  footer h3 {
    font-size: 30px;
    margin-top: 80px;
  }

  footer p {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    padding: 40px;
  }

  footer a:hover {
    text-decoration: none;
  }

  footer .sponsor-logo {
    height: 100px;
    width:auto;
  }

  footer .footer-nav{
    padding-top: 60px;
  }

  footer .footer-nav ul {
    margin: 0;
  }
  footer .footer-nav li {
    display:inline-block;
    list-style-type: none;
    padding: 5px 15px 40px;
  }
  footer .footer-conf-logo {
    height: 30px;
    width: auto;
  }
